@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.chat-window{
    width: 75%;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.chat-window .chat-area{
    position: relative;
    width: 100%;
    height: 82%;
    /* background-color: aquamarine; */
    /* padding: 0 10px 0 10px; */
}
.chat-window .chat-area .chat-body{
    width: 100%;
    height: 88%;
    background-color: #FBFBFB;
    padding: 0 10px 30px 10px;
    overflow-y: auto;
}
.chat-window .chat-area .chat-body::-webkit-scrollbar{
    width: 10px;
}
.chat-window .chat-area .chat-body::-webkit-scrollbar-thumb{
    background-color: rgba(160, 159, 159, 0.664);
    border-radius: 40px;
    border: 4px solid transparent;
    background-clip: padding-box;
}
.chat-window .chat-area .scroll-to-bottom{
    position: absolute;
    left: 48%;
    bottom: 20px;
    background-color: transparent;
    z-index: 100;
}
.chat-window .chat-area .scroll-to-bottom #scroll-to-bottom-btn{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    /* padding: 10px; */
    background-color: #FFFFFF;
    outline: none;
    border: 2px solid #0047B7;
    box-shadow: -2px 4px 10px -2px rgba(0, 0, 0, 0.06);
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.chat-window .chat-area .scroll-to-bottom #scroll-to-bottom-btn img{
    width: 25px;
    height: 25px;
}