.chat-window .chat-area .chat-header{
    /* position: absolute;
    top: 0; */
    width: 100%;
    height: 4.2rem;
    background-color: var(--secondary-color);
    padding: 0px 10px 0px 10px;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .chat-window .chat-area .chat-header .menu-btn{
    color: #ffffff;
} */
.chat-window .chat-area .chat-header .chat-title{
    width: 80%;
    height: 100%;
    color: var(--text-color);
    font-family: var(--font-family-body);
    font-size: 1.1rem;
    font-weight: 400;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
}
.chat-window .chat-area .chat-header .menu{
    width: 20%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.chat-window .chat-area .chat-header .menu #menu-btn{
    color: #ffffff;
    padding: 8px 8px;
    font-family: var(--font-family-body);
    font-weight: 600;
    font-size: 0.9rem;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    /* padding: 8px 14px; */
    border-radius: 50px;
    /* background-color: var(--secondary-color); */
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.chat-window .chat-area .chat-header .menu #menu-btn img{
    width: 20px;
    height: 20px;
}
.chat-window .chat-area .chat-header .menu #menu-btn:hover{
    background-color: var(--hover-color-light);
}
.chat-window .chat-area .chat-header .menu #menu{
    position: absolute;
    top: 4.2rem;
    right: 0.8rem;
    width: 8.5rem;
    height: auto;
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    display: none;
    padding: 0.5rem;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}
.chat-window .chat-area .chat-header .menu #menu button{
    width: 100%;
    color: var(--text-color);
    font-family: var(--font-family-body);
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 12px;
}
.chat-window .chat-area .chat-header .menu #menu button:hover{
    background-color: var(--hover-color-light);
}
.chat-window .chat-area .chat-header .menu #menu button img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: var(--svg-color);
}
.chat-window .chat-area .chat-header .menu #menu button svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /* stroke: var(--svg-color); */
}
.chat-window .chat-area .chat-header .menu #menu button:nth-child(2){
    color: #e82828;
}
.chat-window .chat-area .chat-header .menu #menu button:nth-child(2):hover{
    background-color: #ff000037;
}