
.chat-window .message-input{
    /* position: absolute; */
    /* bottom: 20px; */
    width: 100%;
    height: 4rem;
    background-color: var(--secondary-color);
    padding: 20px 20px 20px 20px;
    border-top: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.chat-window .message-input .input-field-container{
    width: 100%;
    /* height: 100%; */
    max-width: 80rem;
    background-color: var(--input-field-color);
    border-radius: 50px;
    border: 2px solid var(--input-field-color);
    padding: 2px 4px 2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.chat-window .message-input .input-field-container #input-field{
    width: 100%;
    font-family: var(--font-family-body);
    font-size: 0.9rem;
    padding: 8px 12px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: var(--input-field-color);
    color: var(--text-color-input);
    resize: none;
    transition: 0.1s;
}
.chat-window .message-input .input-field-container:focus-within{
    border: 2px solid var(--primary-color);
}

.chat-window .message-input button{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    padding: 10px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-window .message-input button img{
    width: 20px;
    height: 20px;
}
.chat-window .message-input .input-field-container #add-file-btn{
    background-color: transparent;
}
.chat-window .message-input .input-field-container #add-file-btn:hover{
    background-color: var(--hover-color);
}
.chat-window .message-input #send-btn{
    background-color: var(--disabled-color);
    cursor: not-allowed;
    opacity: 0.5;
}
.chat-window .message-input #send-btn.active{
    background-color: var(--primary-color);
    cursor: pointer;
    opacity: 1;
}
.chat-window .message-input #send-btn:hover{
    background-color: var(--disabled-color);
}
.chat-window .message-input #send-btn.active:hover{
    background-color: #0147d3;
}